<!DOCTYPE html>
<html lang="en">
<head>
  <title>La#ice Resource Board</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/post.css" />
</head>
<body>
  <%- include('partials/nav') %> <!-- Include the navigation partial -->

  <main class="main-container">
    <div class="grid-container">
      <% posts.forEach(post => { %>
        <div class="grid-item">
          <div class="main-content">
            <div class="title-link">
              <h3><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h3>
            </div>
            <p class="post-description"><%= post.description %></p>
          </div>
          <!-- Include postHeader for each post within the loop -->
          <%- include('partials/postHeader', { post: post }) %>
          <!-- post-footer div acting as a clickable link -->
          <div class="post-footer" data-href="/path-to-post/<%= post.id %>">
            <!-- Include postLink (footer) content -->
            <%- include('partials/postLink', { post: post }) %>
          </div>
        </div>
      <% }) %>
    </div>

    <!-- Include the userList partial outside the loop -->
    <%- include('partials/userList', { users: users }) %>
  </main>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <!-- Include script for making post-footer clickable -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const footers = document.querySelectorAll('.post-footer');

      footers.forEach(footer => {
        footer.addEventListener('click', function() {
          window.location.href = this.getAttribute('data-href');
        });
      });
    });
  </script>
</body>
</html>
