<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/user.css" />
    <link rel="stylesheet" href="/styles/post.css" />
</head>
<body>
    <%- include('partials/nav') %>
    <h2 class="Welcome">Welcome, <%= user.name %> //</h2>
    <main class="main-container">
      
    
      <div class="grid-container">
        <% if (posts && posts.length > 0) { %>
          <% posts.forEach(post => { %>
            <div class="profilePost-item">
              <!-- Wrap the post title in a link -->
              <h3 class="title-link"><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h3>
              <p class="post-description"><%= post.description %></p>
              <!-- Other details about the post -->
            </div>
          <% }); %>
        <% } else { %>
          <p>You have no posts yet.</p>
        <% } %>
      </div>
    </main>
  </body>
</html>
