<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lattice - Explore Topics</title>
    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include('partials/nav') %>
    
    <main>
        <div class="topic-container">
            <% topicsWithPosts.forEach(topicWithPosts => { %>
                <% if (topicWithPosts.posts && topicWithPosts.posts.length > 0) { %>
                    <div class="topic-item">
                        <%- include('partials/topicHeader', { topic_name: topicWithPosts.topic_name }) %>
                        <% topicWithPosts.posts.forEach(post => { %>
                            <div class="grid-item-post">
                                <!-- Wrap the post title in a link -->
                                <h3><a href="<%= post.url %>" target="_blank"><%= post.title %></a></h3>
                                <p><%= post.description %></p>
                                <!-- Other details about the post -->
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </main>
</body>
</html>
